# Desafio (Parte 2) - Extraindo Informações

## Case baseado no desafio do Kaggle: "Instacart Market Basket Analysis"

Esse desafio é baseado em uma competição do Kaggle ([https://www.kaggle.com](https://www.kaggle.com)) de 2017, onde é pedido para fazer a predição de se um produto será comprado por dado usuário no carrinho atual, baseado em suas compras anteriores.

Não está no escopo da aula 



Link para o desafio: [https://www.kaggle.com/c/instacart-market-basket-analysis](https://www.kaggle.com/c/instacart-market-basket-analysis)

## Origem dos Dados:

Os dados mostrados nesse desafio são uma amostra extraída do dataset disponibilizado gratuitamente pela empresa Instacart ([https://www.instacart.com/](https://www.instacart.com/)) **\***. São dados reais do banco de dados da empresa, que foram anonimizados para o uso por pesquisadores e em competições de Data Science.

 
###### * “The Instacart Online Grocery Shopping Dataset 2017”, Accessed from [https://www.instacart.com/datasets/grocery-shopping-2017](https://www.instacart.com/datasets/grocery-shopping-2017) on March 10, 2017.

## Tabelas e Colunas Importantes

As Tabelas e suas respectivas colunas estão mostradas abaixo, junto com a descrição do significado de cada coluna:

* Colunas da Tabela `orders`:

    * ´order_id´: order identifier
    * ´user_id´: customer identifier
    * ´eval_set´: which evaluation set this order belongs in (see SET described below)
    * ´order_number´: the order sequence number for this user (1 = first, n = nth)
    * ´order_dow´: the day of the week the order was placed on
    * ´order_hour_of_day´: the hour of the day the order was placed on
    * ´days_since_prior´: days since the last order, capped at 30 (with NAs for order_number = 1)
    
* Colunas da Tabela `products (50k rows):

    * ´product_id´: product identifier
    * ´product_name´: name of the product
    * ´aisle_id´: foreign key
    * ´department_id´: foreign key

* Colunas da Tabela `aisles (134 rows):

    * ´aisle_id´: aisle identifier
    * ´aisle´: the name of the aisle

* Colunas da Tabela `deptartments (21 rows):

    * ´department_id´: department identifier
    * ´department´: the name of the department

* Colunas da Tabela `order_products__SET (30m+ rows):

    * ´order_id´: foreign key
    * ´product_id´: foreign key
    * ´add_to_cart_order´: order in which each product was added to cart
    * ´reordered´: 1 if this product has been ordered by this user in the past, 0 otherwise

___

# Import

In [1]:
import os
import pandas as pd

# Objetivo:

Analisar o dataset gerado na Seção 3 e responder às questões.

# Dataset

In [2]:
file_name = os.path.join("data", "dataset.csv")

In [3]:
dataset = pd.read_csv(file_name, sep=",", index_col=0, encoding="utf-8")

C:\Users\allan\Anaconda3\envs\tera-fev2018\lib\site-packages\numpy\lib\arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
dataset.head()

,order_id,user_id,order_dow,product_name,aisle,department
10,1187899,1,4,Soda,soft drinks,beverages
11,1187899,1,4,Organic String Cheese,packaged cheese,dairy eggs
12,1187899,1,4,0% Greek Strained Yogurt,yogurt,dairy eggs
13,1187899,1,4,XL Pick-A-Size Paper Towel Rolls,paper goods,household
14,1187899,1,4,Milk Chocolate Almonds,candy chocolate,snacks

In [5]:
""" Facilitando a vida """
# baseado em uma thread do Kaggle sobre esse desafio, os dias da semana são definidos na seguinte ordem:
week_days = ["saturday", "sunday", "monday", "tuesday", "wednesday", "thursday", "friday"]

# traduzindo no dataset
dataset.order_dow = dataset.order_dow.map(lambda wd: week_days[wd])

In [7]:
df = dataset.head()
df

,order_id,user_id,order_dow,product_name,aisle,department
10,1187899,1,wednesday,Soda,soft drinks,beverages
11,1187899,1,wednesday,Organic String Cheese,packaged cheese,dairy eggs
12,1187899,1,wednesday,0% Greek Strained Yogurt,yogurt,dairy eggs
13,1187899,1,wednesday,XL Pick-A-Size Paper Towel Rolls,paper goods,household
14,1187899,1,wednesday,Milk Chocolate Almonds,candy chocolate,snacks

# Questões

## A) Quantos usuários únicos fizeram pedidos?

In [24]:
dataset.shape

(1238345, 6)

In [28]:
""" Entre com o Código aqui """
len(dataset["user_id"].unique())

117221

In [27]:
a = dataset.groupby("user_id")
a.count()

         order_id  order_dow  product_name  aisle  department
user_id
1              11         11            11     11          11
2              31         31            31     31          31
5               9          9             9      9           9
7               9          9             9      9           9
8              18         18            18     18          18
9              22         22            22     22          22
10              4          4             4      4           4
13              5          5             5      5           5
14             11         11            11     11          11
17              6          6             6      6           6
18             11         11            11     11          11
21              6          6             6      6           6
23             12         12            12     12          12
24              1          1             1      1           1
27             17         17            17     17          17
29             17         17            17     17          17
30              1          1             1      1           1
34              5          5             5      5           5
37             12         12            12     12          12
38             19         19            19     19          19
41             15         15            15     15          15
42              7          7             7      7           7
43             33         33            33     33          33
44              6          6             6      6           6
46              6          6             6      6           6
47              6          6             6      6           6
48             13         13            13     13          13
49              6          6             6      6           6
50              6          6             6      6           6
52             11         11            11     11          11
...           ...        ...           ...    ...         ...
184235         41         41            41     41          41
184236          7          7             7      7           7
184237         21         21            21     21          21
184239          8          8             8      8           8
184241          6          6             6      6           6
184242          9          9             9      9           9
184244          5          5             5      5           5
184245         16         16            16     16          16
184247         22         22            22     22          22
184248          9          9             9      9           9
184249          2          2             2      2           2
184250          9          9             9      9           9
184253          3          3             3      3           3
184254          8          8             8      8           8
184257          2          2             2      2           2
184259          1          1             1      1           1
184260          1          1             1      1           1
184261          5          5             5      5           5
184262          6          6             6      6           6
184264         25         25            25     25          25
184265         22         22            22     22          22
184266         10         10            10     10          10
184269          8          8             8      8           8
184270         10         10            10     10          10
184272          5          5             5      5           5
184273         11         11            11     11          11
184274         13         13            13     13          13
184277          6          6             6      6           6
184278          8          8             8      8           8
184279          7          7             7      7           7

[117221 rows x 5 columns]

## B) Qual o produto que apareceu em mais pedidos?

In [33]:
dataset.product_name.value_counts()

Banana                                                16784
Bag of Organic Bananas                                13790
Organic Strawberries                                   9740
Organic Baby Spinach                                   8734
Large Lemon                                            7254
Organic Avocado                                        6642
Organic Hass Avocado                                   6545
Strawberries                                           5775
Limes                                                  5383
Organic Raspberries                                    5002
Organic Blueberries                                    4473
Organic Whole Milk                                     4384
Organic Cucumber                                       4122
Organic Zucchini                                       4108
Organic Yellow Onion                                   3790
Organic Garlic                                         3686
Seedless Red Grapes                                    3594
Asparagus                                              3462
Organic Red Onion                                      3442
Organic Grape Tomatoes                                 3436
Yellow Onions                                          3363
Organic Baby Carrots                                   3228
Honeycrisp Apple                                       3172
Organic Cilantro                                       3164
Organic Lemon                                          3119
Sparkling Water Grapefruit                             2990
Raspberries                                            2924
Organic Fuji Apple                                     2882
Small Hass Avocado                                     2782
Broccoli Crown                                         2633
                                                      ...
Sensitive Xtreme 3 Disposable Razors                      1
Everyday Soak Proof Bowls                                 1
Dog Food, Chicken & Sweet Potato Stew Recipe              1
Phoenix 2 in 1 Shampoo and Conditioner                    1
Pure Mint With Herbal Accent Sugar Free Gum               1
100% Whole Grain Stone Ground Soy Flour                   1
Torrential Tropical Punch                                 1
Instant Soothing Facial Mask                              1
No Scratch Sponge Scrubber                                1
Lady Fingers                                              1
Mix-Up Flamin' Hot & Cheezy Mix Flavored Snack Mix        1
Orange Ginger Mint Tea Bags                               1
Pro Sensitive Non GMO Infant Formula Powder               1
Butter Popcorn                                            1
Spinach & Cheese Ravioli                                  1
Cold Brew Coffee Tahitian Vanilla                         1
Organic Plant Protein Yerba Mate Smooth Energy            1
Chia Bars Banana Nut                                      1
Atlantic Dulse                                            1
Polish Kielbasa (100869) Smoked & Cooked                  1
4 Ct Whipped Topping Mix                                  1
Yogurt Stellar Strawberry                                 1
Water Filtration Pitcher Replacement Filter               1
Mild Pimento Cheese                                       1
Imitation Bacon Bits                                      1
Herbal Armor Insect Repellent Spray                       1
Hazelnut Instant Coffee Beverage                          1
Kosher Ground Beef                                        1
Baby Romaine                                              1
Kalamata Whole Gourmet Black Olives                       1
Name: product_name, Length: 38222, dtype: int64

In [35]:
g = dataset.groupby(["order_id", "product_name"])
g

In [40]:
df = g.count()
df

                                                             user_id  \
order_id product_name
1        Bag of Organic Bananas                                    1
         Bulgarian Yogurt                                          1
         Cucumber Kirby                                            1
         Lightly Smoked Sardines in Olive Oil                      1
         Organic 4% Milk Fat Whole Milk Cottage Cheese             1
         Organic Celery Hearts                                     1
         Organic Hass Avocado                                      1
         Organic Whole String Cheese                               1
36       Asparagus                                                 1
         Cage Free Extra Large Grade AA Eggs                       1
         Grated Pecorino Romano Cheese                             1
         Organic Garnet Sweet Potato (Yam)                         1
         Organic Half & Half                                       1
         Prosciutto, Americano                                     1
         Spring Water                                              1
         Super Greens Salad                                        1
38       Bunched Cilantro                                          1
         Flat Parsley, Bunch                                       1
         Fresh Dill                                                1
         Green Peas                                                1
         Organic Baby Arugula                                      1
         Organic Biologique Limes                                  1
         Organic Hot House Tomato                                  1
         Organic Raw Unfiltered Apple Cider Vinegar                1
         Shelled Pistachios                                        1
96       Organic Blueberries                                       1
         Organic Cucumber                                          1
         Organic Grape Tomatoes                                    1
         Organic Pomegranate Kernels                               1
         Organic Raspberries                                       1
...                                                              ...
3420998  Sheep Milk Vanilla Yogurt                                 1
         Spaghetti  No 12                                          1
         Sprouted Multi-Grain Bread                                1
         Uncured Genoa Salami                                      1
3421026  Campanelle Pasta                                          1
         Italian Sparkling Pomegranate And Orange Soda             1
         Organic Rosemary                                          1
         Organic Sticks Low Moisture Part Skim Mozzarell...        1
         Plain Whole Milk Yogurt                                   1
         Sparkling Orange Juice & Prickly Pear Beverage            1
3421056  Brioche Buns                                              1
         Homestyle Classics Meatloaf                               1
         Sparkling Lemon Water                                     1
         Tartar Sauce                                              1
         Total Plain Greek Strained Yogurt                         1
3421058  Baby Brie                                                 1
         Classic Britannia Crisps                                  1
         Club Soda Lower Sodium                                    1
         Extralean Ground Turkey Breast                            1
         Genoa Salame with White Cheddar Cheese & Toaste...        1
         Sweet Potatoes                                            1
         White Giant Paper Towel Rolls                             1
         Wine Infused Salame Cheese and Crackers Small P...        1
3421063  Natural Artesian Water                                    1
         No Salt Added Gluten-Free Blue Chips Made with ...        1
         Organic Half & Half                                       1
         Twice Baked Potatoes                                      1
3421070  Broccoli Florettes                                        1
         Creamy Peanut Butter                                      1
         Organic Unsweetened Almond Milk                           1

                                                             order_dow  aisle  \
order_id product_name
1        Bag of Organic Bananas                                      1      1
         Bulgarian Yogurt                                            1      1
         Cucumber Kirby                                              1      1
         Lightly Smoked Sardines in Olive Oil                        1      1
         Organic 4% Milk Fat Whole Milk Cottage Cheese               1      1
         Organic Celery Hearts                                       1      1
         Organic Hass Avocado                                        1      1
         Organic Whole String Cheese                                 1      1
36       Asparagus                                                   1      1
         Cage Free Extra Large Grade AA Eggs                         1      1
         Grated Pecorino Romano Cheese                               1      1
         Organic Garnet Sweet Potato (Yam)                           1      1
         Organic Half & Half                                         1      1
         Prosciutto, Americano                                       1      1
         Spring Water                                                1      1
         Super Greens Salad                                          1      1
38       Bunched Cilantro                                            1      1
         Flat Parsley, Bunch                                         1      1
         Fresh Dill                                                  1      1
         Green Peas                                                  1      1
         Organic Baby Arugula                                        1      1
         Organic Biologique Limes                                    1      1
         Organic Hot House Tomato                                    1      1
         Organic Raw Unfiltered Apple Cider Vinegar                  1      1
         Shelled Pistachios                                          1      1
96       Organic Blueberries                                         1      1
         Organic Cucumber                                            1      1
         Organic Grape Tomatoes                                      1      1
         Organic Pomegranate Kernels                                 1      1
         Organic Raspberries                                         1      1
...                                                                ...    ...
3420998  Sheep Milk Vanilla Yogurt                                   1      1
         Spaghetti  No 12                                            1      1
         Sprouted Multi-Grain Bread                                  1      1
         Uncured Genoa Salami                                        1      1
3421026  Campanelle Pasta                                            1      1
         Italian Sparkling Pomegranate And Orange Soda               1      1
         Organic Rosemary                                            1      1
         Organic Sticks Low Moisture Part Skim Mozzarell...          1      1
         Plain Whole Milk Yogurt                                     1      1
         Sparkling Orange Juice & Prickly Pear Beverage              1      1
3421056  Brioche Buns                                                1      1
         Homestyle Classics Meatloaf                                 1      1
         Sparkling Lemon Water                                       1      1
         Tartar Sauce                                                1      1
         Total Plain Greek Strained Yogurt                           1      1
3421058  Baby Brie                                                   1      1
         Classic Britannia Crisps                                    1      1
         Club Soda Lower Sodium                                      1      1
         Extralean Ground Turkey Breast                              1      1
         Genoa Salame with White Cheddar Cheese & Toaste...          1      1
         Sweet Potatoes                                              1      1
         White Giant Paper Towel Rolls                               1      1
         Wine Infused Salame Cheese and Crackers Small P...          1      1
3421063  Natural Artesian Water                                      1      1
         No Salt Added Gluten-Free Blue Chips Made with ...          1      1
         Organic Half & Half                                         1      1
         Twice Baked Potatoes                                        1      1
3421070  Broccoli Florettes                                          1      1
         Creamy Peanut Butter                                        1      1
         Organic Unsweetened Almond Milk                             1      1

                                                             department
order_id product_name
1        Bag of Organic Bananas                                       1
         Bulgarian Yogurt                                             1
         Cucumber Kirby                                               1
         Lightly Smoked Sardines in Olive Oil                         1
         Organic 4% Milk Fat Whole Milk Cottage Cheese                1
         Organic Celery Hearts                                        1
         Organic Hass Avocado                                         1
         Organic Whole String Cheese                                  1
36       Asparagus                                                    1
         Cage Free Extra Large Grade AA Eggs                          1
         Grated Pecorino Romano Cheese                                1
         Organic Garnet Sweet Potato (Yam)                            1
         Organic Half & Half                                          1
         Prosciutto, Americano                                        1
         Spring Water                                                 1
         Super Greens Salad                                           1
38       Bunched Cilantro                                             1
         Flat Parsley, Bunch                                          1
         Fresh Dill                                                   1
         Green Peas                                                   1
         Organic Baby Arugula                                         1
         Organic Biologique Limes                                     1
         Organic Hot House Tomato                                     1
         Organic Raw Unfiltered Apple Cider Vinegar                   1
         Shelled Pistachios                                           1
96       Organic Blueberries                                          1
         Organic Cucumber                                             1
         Organic Grape Tomatoes                                       1
         Organic Pomegranate Kernels                                  1
         Organic Raspberries                                          1
...                                                                 ...
3420998  Sheep Milk Vanilla Yogurt                                    1
         Spaghetti  No 12                                             1
         Sprouted Multi-Grain Bread                                   1
         Uncured Genoa Salami                                         1
3421026  Campanelle Pasta                                             1
         Italian Sparkling Pomegranate And Orange Soda                1
         Organic Rosemary                                             1
         Organic Sticks Low Moisture Part Skim Mozzarell...           1
         Plain Whole Milk Yogurt                                      1
         Sparkling Orange Juice & Prickly Pear Beverage               1
3421056  Brioche Buns                                                 1
         Homestyle Classics Meatloaf                                  1
         Sparkling Lemon Water                                        1
         Tartar Sauce                                                 1
         Total Plain Greek Strained Yogurt                            1
3421058  Baby Brie                                                    1
         Classic Britannia Crisps                                     1
         Club Soda Lower Sodium                                       1
         Extralean Ground Turkey Breast                               1
         Genoa Salame with White Cheddar Cheese & Toaste...           1
         Sweet Potatoes                                               1
         White Giant Paper Towel Rolls                                1
         Wine Infused Salame Cheese and Crackers Small P...           1
3421063  Natural Artesian Water                                       1
         No Salt Added Gluten-Free Blue Chips Made with ...           1
         Organic Half & Half                                          1
         Twice Baked Potatoes                                         1
3421070  Broccoli Florettes                                           1
         Creamy Peanut Butter                                         1
         Organic Unsweetened Almond Milk                              1

[1238345 rows x 4 columns]

In [47]:
resp_uniq = df.reset_index().product_name.value_counts()
resp_moda = dataset.product_name.value_counts()

In [53]:
index = resp_uniq.sort_index() != resp_moda.sort_index()
index

#2 Coffee Filters                                                       False
#2 Cone White Coffee Filters                                            False
#2 Mechanical Pencils                                                   False
#4 Natural Brown Coffee Filters                                         False
& Go! Hazelnut Spread + Pretzel Sticks                                  False
0 Calorie Acai Raspberry Water Beverage                                 False
0 Calorie Fuji Apple Pear Water Beverage                                False
0 Calorie Strawberry Dragonfruit Water Beverage                         False
0% Fat Black Cherry Greek Yogurt y                                      False
0% Fat Blueberry Greek Yogurt                                           False
0% Fat Free Organic Milk                                                False
0% Fat Greek Yogurt Black Cherry on the Bottom                          False
0% Fat Greek Yogurt Vanilla                                             False
0% Fat Organic Greek Vanilla Yogurt                                     False
0% Fat Peach Greek Yogurt                                               False
0% Fat Strawberry Greek Yogurt                                          False
0% Fat Superfruits Greek Yogurt                                         False
0% Fat Vanilla Greek Yogurt                                             False
0% Greek Strained Yogurt                                                False
0% Greek Yogurt Black Cherry on the Bottom                              False
0% Greek, Blueberry on the Bottom Yogurt                                False
0% Milkfat Greek Plain Yogurt                                           False
0% Milkfat Greek Yogurt Honey                                           False
1 % Lowfat Milk                                                         False
1 Apple + 1 Mango Fruit Bar                                             False
1 Apple + 1 Pear Fruit Bar                                              False
1 Liter                                                                 False
1 Mg Melatonin Sublingual Orange Tablets                                False
1 Ply Napkins                                                           False
1 Ply Paper Towels                                                      False
                                                                        ...
in 100% Juice Mixed Fruit                                               False
in Gravy with Carrots Peas & Corn Mashed Potatoes & Meatloaf Nuggets    False
o.b Super Plus Fluid Lock Tampons                                       False
of Hanover 100 Calorie Pretzels Mini                                    False
of Norwich Original English Mustard Powder Double Superfine             False
pumpkin spice                                                           False
rich kiss Olive & Aloe Moisturizer 2 in 1                               False
smart Blend Chicken & Rice Formula Dry Dog Food                         False
smartwater® Electrolyte Enhanced Water                                  False
vitaminwater® XXX Acai Blueberry Pomegranate                            False
w/Banana Pulp Free Juice                                                False
with Bleach Disinfectant Cleanser Scratch Free Lavender Fresh           False
with Bleach Powder Cleanser                                             False
with Crispy Almonds Cereal                                              False
with Dawn Action Pacs Fresh Scent Dishwasher Detergent Pacs             False
with Olive Oil Mayonnaise                                               False
with Olive Oil Mayonnaise Dressing                                      False
with Pump Rebalancing Shampoo                                           False
with Seasoned Roasted Potatoes Scrambled Eggs & Sausage                 False
with Sweet & Smoky BBQ Sauce Cheeseburger Sliders                       False
with Sweet Cinnamon Bunches Cereal                                      False
with Xylitol Cinnamon 18 Sticks Sugar Free Gum                          False
with Xylitol Island Berry Lime 18 Sticks Sugar Free Gum                 False
with Xylitol Minty Sweet Twist 18 Sticks Sugar Free Gum                 False
with Xylitol Original Flavor 18 Sticks Sugar Free Gum                   False
with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum         False
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum               False
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum                  False
with a Splash of Mango Coconut Water                                    False
with a Splash of Pineapple Coconut Water                                False
Name: product_name, Length: 38222, dtype: bool

In [54]:
index.any()

False

In [52]:
resp_uniq[index]

Series([], Name: product_name, dtype: int64)

In [52]:
resp_uniq[index]

Series([], Name: product_name, dtype: int64)

In [ ]:
""" Entre com o Código aqui """

## C) Quais os usuários que fizeram mais e menos pedidos?

In [62]:
""" Entre com o Código aqui """
g = dataset.groupby("user_id")
tmp = g.order_id.count()
tmp = tmp.sort_values(ascending=False)
tmp.head().append(tmp.tail())

user_id
149753    80
63458     77
83993     76
169647    75
104741    74
8761       1
40204      1
97749      1
19319      1
173983     1
Name: order_id, dtype: int64

## D) Qual a média e o desvio padrão da quantidade de produtos presentes em um pedido um usuário?

In [70]:
dataset.user_id.unique().shape

(117221,)

In [71]:
dataset.order_id.unique().shape

(117221,)

In [77]:
""" Entre com o Código aqui """
g = dataset.groupby(["order_id"])
tmp = g.product_name.count()
tmp.describe()

count    117221.000000
mean         10.564191
std           7.945047
min           1.000000
25%           5.000000
50%           9.000000
75%          14.000000
max          80.000000
Name: product_name, dtype: float64

In [76]:
g = dataset.groupby(["user_id"])
tmp = g.product_name.count()
tmp.describe()

count    117221.000000
mean         10.564191
std           7.945047
min           1.000000
25%           5.000000
50%           9.000000
75%          14.000000
max          80.000000
Name: product_name, dtype: float64

## E) Qual a média, a mediana, o mínimo e o máximo da quantidade de corredores (`aisles`) por departmento (`department`)?

In [78]:
""" Entre com o Código aqui """
dataset.department.unique().shape

(21,)

In [80]:
""" Entre com o Código aqui """
dataset.aisle.unique().shape

(134,)

In [88]:
tmp = dataset.groupby(["department", "aisle"])
tmp = tmp.count().reset_index()[["department", "aisle"]]
tmp.head()

  department                       aisle
0    alcohol               beers coolers
1    alcohol                   red wines
2    alcohol  specialty wines champagnes
3    alcohol                     spirits
4    alcohol                 white wines

In [87]:
tmp.groupby("department").aisle.count().describe()

count    21.000000
mean      6.380952
std       4.128876
min       1.000000
25%       4.000000
50%       5.000000
75%      10.000000
max      17.000000
Name: aisle, dtype: float64

## F) Qual o dia da semana em que ocorrem mais pedidos de produtos para cada departmento (`department`)?

In [ ]:
""" Entre com o Código aqui """

##  G) Quais foram os 5% piores e os 5% melhores corredores (`aisle`) em termos de vendas?

In [ ]:
""" Entre com o Código aqui """

##  H) Quais foram os 5 produtos mais comprados de cada departamento na terça-feira? 

### Mostre em uma tabela como no exemplo:

| departamento | 1o produto | 2o produto | 3o produto | 4o produto | 5o produto |
|:------------ |:---------- |:---------- |:---------- |:---------- |:---------- |
| depart 01    | prod A     | prod W     | prod L     | prod H     | prod D     |
| depart 02    | prod X     | prod Q     | prod B     | prod S     | prod P     |
| ...          | ...        | ...        | ...        | ...        | ...        |

In [ ]:
""" Entre com o Código aqui """

## I) Quais são os 2 corredores (`aisles`) que são visitados juntos no mesmo pedido mais vezes em uma sexta-feira?

In [ ]:
""" Entre com o Código aqui """

## J) Quais as duplas de produtos que mais saem juntas no pedido (`order_id`) de um usuário em uma sexta-feira?

In [ ]:
""" Entre com o Código aqui """